@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


    * {
        box-sizing: border-box;
        font-family: 'Poiret One','微軟正黑體';
        font-size: 20px;
        color: #333;
    
    }

    h2{
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }
    h3{
        font-size:1.5rem ;
        letter-spacing: 0.2rem;
    }

    .header{
        width: 100%;
        background-color:#faf1d6;
        display: flex;
        color: #222;
        justify-content: space-between;
        padding: 20px;
        font-family: 'Poiret One';
        letter-spacing:0.2rem;
    }
    .nav{
        display: flex;
        letter-spacing: 3px;
        width: 30%;
        justify-content: space-around;
    }

    a:link{
        color: #222;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Poiret One';
        
    }

    a:visited{
        color: #222;
    }



    /* main */
    .main{
        width: 100%;
        
    }
    /* banner */
    .banner{
        width: 100%;
        background-color: #b6e3e9;
        /* height: 500px; */
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        
    }


    .ban-word{
        padding: 1rem;
        
    }

    .ban-word > h2{
        font-size: 5rem;
        letter-spacing: 2rem;
        color: #0cc0d8;
        margin: 1rem 1rem 3rem;
    }

    .ban-detail{
        padding: 2rem;
        line-height: 1.5rem;
        font-size: 1.6rem;
    }
    .ban-detail>p{
        font-size: 1rem;
        margin: 1rem;
    }
    .ban-pic{
        width: 500px;
        height: 500px;
       
        
    }
    .ban-pic > img{
        width: 100%; 
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
    }

    /* guide */
    .guide{
        width: 100%;
        background-color: #FADEE1;
        display: flex;
        justify-content: center;
        
    }
    .guide-grid{
        height: 300px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .guide-kid{
        text-align: center;
        padding: 2rem;
    
    }
    .guide-kid > h2{
        font-size: 3rem;
    }

    .guide-kid > p{
        margin: 2rem;
        font-size: 1.2rem;
    }

    .read{
        height: 50px;
        width: 100%;
        display: grid;
    
        grid-template-columns: repeat(3,1fr);
    }
    .more{
        text-align: center;
        background-color: #FADEE1;
        
    }
    .more >a {
        font-size: 1.5rem;
        font-family: 'Poiret One';
    }

    /* masonry 01 */
    .masonry{
        width: 100%;
        display: flex;
        justify-content: center; 
        /* margin: 1rem auto 1rem; */
        /* background-color: #ead68d; */
        /* background-image: linear-gradient(to top,#3d6075 0%, #c3dbe3 100%); */
        background-color: #fad4ae;
        padding: 2rem 0;

        
    }

    .work{
        
        text-align: center;
        margin: 1rem auto;
        
    }
    .work > h3{
        margin: 0 0 2rem;
        font-size: 3rem;
    }

    .workgrid{
        height: 100%;
        display: grid;
        grid-template-rows: repeat(3,200px);
        grid-template-columns: repeat(5,200px);
        grid-gap: 10px;
        
    }

    .box1{
        height: 200px;
        width: 200px;
        
    }

    .box2{
        height: 200px;
        width: 410px;
        
    }
    .box3{
        height: 410px;
        width: 410px;
    }

    .backend1{
        grid-row: 1;
        grid-column: 1;
        background-color: #d9f1f1;
    }

    .backend2{
        grid-row: 1;
        grid-column: 3;
        background-color: #d9f1f1;
    }

    .backend3{
        grid-row: 1;
        grid-column: 4;
        background-color: #d9f1f1;
    }

    .backend4{
        grid-row: 2;
        grid-column: 3;
        background-color: #d9f1f1;
    }

    .backend5{
        grid-row: 2;
        grid-column: 4;
        background-color: #d9f1f1;
    }
    .backend6{
        grid-row: 2;
        grid-column: 5;
        background-color: #d9f1f1;
    }
    .backend7{
        grid-row: 3;
        grid-column: 1;
        background-color: #d9f1f1;
    }

    .backend8{
        grid-row: 3;
        grid-column: 2;
        background-color: #d9f1f1;
    }
    .backend9{
        grid-row: 3;
        grid-column: 3;
        background-color: #d9f1f1;
    }
    .backend10{
        grid-row: 3;
        grid-column: 5;
        background-color: #d9f1f1;
    }
    /* masonry 02 */
    .pgcolor{
        background-color: #d9f1f1;
    }

    .program1{
        grid-row: 1 ;
        grid-column: 1;
        background-color: #fad4ae;
    }
    .program2{
        grid-row: 1 ;
        grid-column: 2;
        background-color: #fad4ae;
    }
    .program3{
        grid-row: 1 ;
        grid-column: 3;
        background-color: #fad4ae;
    }
    .program4{
        grid-row: 1 ;
        grid-column: 5;
        background-color: #fad4ae;
    }
    .program5{
        grid-row: 2 ;
        grid-column: 1;
        background-color: #fad4ae;
    }
    .program6{
        grid-row: 2 ;
        grid-column: 5;
        background-color: #fad4ae;
    }
    .program7{
        grid-row: 3 ;
        grid-column: 1;
        background-color: #fad4ae;
    }
    .program8{
        grid-row: 3 ;
        grid-column: 2;
        background-color: #fad4ae;
    }
    .program9{
        grid-row: 3 ;
        grid-column: 3;
        background-color: #fad4ae;
    }
    .program10{
        grid-row: 3 ;
        grid-column: 4;
        background-color: #fad4ae;
    }


 

    /* Footer */
    .footer{
        background-color: #faf1d6;
        color: #555;
        text-align: center;
        padding: 1.5rem;
        font-family: 'Poiret One','微軟正黑體';
        letter-spacing: 0.6rem; 
        
    }
    .iconGrid{
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
    .icon{
        width: 50px;  
        height: 50px;  
        margin: 0 1rem;
    
    }
    .icon>a>img{
        width: 100%;
        object-fit: cover;
    }



    /* tablet 1024-720 */
    @media screen and (max-width:1024px){
        *{
        font-size: 1rem;
        }

        .ban-detail{
            font-size: 1.4rem;
        }
        .guide-kid > h2{
            font-size: 2.5rem;
        }
        .workgrid{
            grid-template-rows: repeat(6,200px);
            grid-template-columns: repeat(3,200px);
        }    
        .backend1{
            grid-row: 1;
            grid-column: 1;
        }
        .backend2{
            grid-row: 1;
            grid-column: 3;
        }
        .backend3{
            grid-row: 3;
            grid-column: 2;
        }
        .backend4{
            grid-row: 2;
            grid-column: 3;
        }
        .backend5{
            grid-row: 3;
            grid-column: 1;
        }
        .backend6{
            grid-row: 4;
            grid-column: 3;
        }
        .backend7{
            grid-row: 5;
            grid-column: 1;
        }
        .backend8{
            grid-row: 5;
            grid-column: 2;
        }
        .backend9{
            grid-row: 4;
            grid-column: 1;
        }
        .backend10{
            grid-row: 5;
            grid-column: 3;
        }
        .program1{
            grid-row: 1;
            grid-column: 1;
        }
        .program2{
            grid-row: 1;
            grid-column: 2;
        }
        .program3{
            grid-row: 2;
            grid-column: 2;
        }
        .program4{
            grid-row: 1;
            grid-column: 3;
        }
        .program5{
            grid-row: 4;   
            grid-column: 1;
        } 
        .program6{
            grid-row: 2;
            grid-column: 1;
        }
        .program7{
            grid-row: 3;
            grid-column: 1;
        }
        .program8{
            grid-row: 4;   
            grid-column: 3;
        }
        .program9{
            grid-row: 5;   
            grid-column: 1;
        }
        .program10{
            grid-row: 5;
            grid-column: 2;
        }
    }

    /* smartphone */
@media screen and (max-width:768px){
    
    .banner{
        display: block;
    }
    .ban-word{
        display: flex;
    }
    .ban-pic{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ban-word>h2{
        font-size: 2.5rem;
    }
    .ban-detail{
        font-size: 1rem;
    }
    .guide-grid{
        width: 100%;
        display: grid;      
        grid-template-columns: repeat(3,1fr);
    }
    .guide-kid{
        padding: 0;
        padding-top: 2rem;
    }
    .guide-kid > h2{
        font-size: 1.5rem;
    }
    .workgrid{
        grid-template-rows: repeat(6,100px);
        grid-template-columns: repeat(3,100px);
    }   
    .box1{
        height: 100px;
        width: 100px;
    }
    .box2{
        height: 100px;
        width: 210px;
    }
    .box3{
        height: 210px;
        width: 210px;
    }

    img{
        /* opacity: 0.2; */
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
    }


}