@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poiret One','微軟正黑體';
    font-size: 20px;
    color: #333;
    text-align: center;

}

h2{
    font-size: 2rem;
    letter-spacing: 0.3rem;
}
h3{
    font-size:1.5rem ;
    letter-spacing: 0.2rem;
}

.header{
    width: 100%;
    background-color:#faf1d6;
    display: flex;
    color: #222;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Poiret One';
    letter-spacing:0.2rem;
}
.nav{
    display: flex;
    letter-spacing: 3px;
    width: 30%;
    justify-content: space-around;
}

a:link{
    color: #222;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poiret One','微軟正黑體';
}

a:visited{
    color: #222;
    
}
a:hover{
    background-color: #f8ebc2;
    padding: 0.5rem;
    
}
/* main */
.main{
    width: 100%;
    
}
/* banner */
.banner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.ban-pic{
    margin: 5rem 3rem 5rem 5rem;
    text-align: center;
    background-color: #faf1d6;
    border-radius: 30px;
    box-shadow: 10px 10px  30px #999;
}

.ban-pic > h2{
    font-size: 3rem;
    letter-spacing: 0.6rem;
    margin: 1rem;
}

.ban-pic > img{
    width: 300px; 
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: 1rem;
}
.ban-info{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
.iconGrid{
    display: flex;
    justify-content: center;
    margin-top:1rem ;
}
.iconGrid > a:hover{
    padding: 0.1rem;
}
.icon{
    width: 40px;  
    height:40px;  
    margin: 0.5rem;
    
}

.icon>img{
    width: 100%;
    object-fit: cover;
}

.ban-word{
    padding: 1rem;
    margin: 5rem 5rem 5rem 3rem;
}

.ban-detail{
    padding: 2rem;
    line-height: 1.5rem;
    font-size: 1.6rem;
    text-align: right;
}
.ban-detail>div{
    margin-bottom: 1rem;
}
.ban-detail>p{
    font-size: 1rem;
    margin: 1rem;
}
/* ABOUT me sec */
.about-me{
    display: flex;
    justify-content: center;
}
.about-container{
    width: 100%;
    
    background-image: linear-gradient(to top, #fff 20%, #FADEE1 80%);
   
}
.border{
    width: 80%;
    height: 90%;
    position: relative;
    margin: 2rem auto;
    padding: 5%;
    border:3px #888 solid;
    border-radius: 20px;
    
}
.border h3{
    margin-top: 2rem;
    margin-left: 1rem;
}
.border-sec1{
    display: flex;
    justify-content: space-between;
    
}
.about-left-title{
    margin-bottom: 1rem;
}
.about-item1{
    width: 300px;
    background-color: #e7aaaa;
    padding: 0.5rem;
    position: absolute;
    top: 25%;
    left: 20%;
    border-radius:10px;
    box-shadow: 20px 20px 30px -10px rgba(151, 79, 79, 0.5);
    font-size: 1rem;
    text-align: right;
}
.border-mask1{
    width: 60%;
    height: 20px;
    background-color:#fff;
    position: absolute;
    bottom: -5px;
    left: -10%;
}
.about-right{
    margin: 2rem;
}
.border-mask2{
    width: 50%;
    height: 20px;
    background-color:#FADEE1;
    position: absolute;
    top: -5px;
    left:55%;
}
.about-pic{
    width: 350px;
    
}
.about-pic img{
    width: 100%;
}
.about-right-text{
    font-size: 0.8rem;
    line-height: 1rem;
}
.about-right-text p{
    display: flex;
    justify-content: flex-end;
}

.skill{
    width: 100%;
    height: 500px;
}
.svg-size >  a:hover{
    padding: 0;
    background-color: none;
}
.svg-size{
    width: 10rem;
    position: relative;
}

.svg-position{
    text-decoration: none;
    transition:0.5s;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.svg-position h3{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 900;  
}
.tabs{
    display: flex;
    justify-content: center;
}

.tab-list li{
    margin: -1rem 0;
}
.svg-size-big{
    width: 500px;
    position: relative;
    
}
.tab-panel{
    width: 60%;
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-55%, -60%);
}
.skill-detail{
    padding: 1rem;
}
.tab-panel h3{
    margin: 0.5rem;
    font-size: 1.2rem;
}
.tab-panel p{
    margin: 0.3rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.tab-panel.active{
    display: block;
}
path{
    transition: 2s;
}
.svg-size>svg:hover path{
    fill: #e7aaaa;
}


/* work */
  
.works{
    
    text-align: center;
    margin: 0 auto;
    background-color: #FADEE1;
    padding: 1rem;
    
}
.works > h2{
    
    font-size: 3rem;
}
.workgrid{
    width: 100%;
    display: grid;
    grid-template-rows:500px 500px;
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-gap: 1rem;
    padding: 2rem;
    
}

.part1{
    grid-row: 1;
    grid-column: 2;
    position: relative;
}

.part2{
    grid-row: 1;
    grid-column: 3;
    position: relative;
}
.part3{
    grid-row: 2;
    grid-column: 2;
    position: relative;
}
.part4{
    grid-row: 2;
    grid-column: 3;
    position: relative;
}
.workgrid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.part-name{
    height: 20%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    padding: 1rem;
}



/* tablet 1024-720 */
@media screen and (max-width:1024px){
        *{
        font-size: 1rem;
        }
        .nav{
            width: 50%;
       }
        .ban-detail{
            font-size: 1.4rem;
        }
        .ban-pic{
            margin: 3rem 1rem;
        }
        .ban-pic>img{
            margin: 1rem;
            max-width: 200px;
            max-height: 200px;
        }
        .ban-word{
            margin: 1rem;
            display: flex;
            align-items: center;
        }
        .ban-pic h2{
            font-size: 3rem;
            letter-spacing: 0.8rem;
            margin: 1rem;
        }

        /* work part */
        .workgrid{
            width: 100%;
            display: grid;
            grid-template-rows:300px 300px;
            grid-template-columns: 10% 1fr 1fr 10%;
            grid-gap: 1rem;
            padding: 2rem;
            
        }
    }
/* smartphone */
@media screen and (max-width:768px){
    *{
        font-size: 0.8rem;
        }

    .nav{
         width: 60%;
    }
    .banner{
        display: block; 
        padding: 0.2rem;
    }
    .ban-pic{
        margin: 1rem 0 0;
    }
    .ban-info{
        margin: 0;
    }
    .ban-pic>img{
        margin-top: 2rem;
        max-width: 150px;
        max-height: 150px;
    }
    .ban-word{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .ban-pic>h2{
        font-size: 2rem;
        letter-spacing: 0.5rem;
        margin: 0;
    }
    .ban-detail{
        font-size: 1rem;
        padding: 0;
    }
    /* work part */
    .workgrid{
        width: 100%;
        display: grid;
        grid-template-rows:repeat(4,300px);
        grid-template-columns: 10% 1fr 10%;
        grid-gap: 1rem;
        padding: 2rem; 
    }

    .part1{
        grid-row: 1;
        grid-column: 2;
        position: relative;
    }
 
    .part2{
        grid-row: 2;
        grid-column: 2;
        position: relative;
    }
    .part3{
        grid-row: 3;
        grid-column: 2;
        position: relative;
    }
    .part4{
        grid-row: 4;
        grid-column: 2;
        position: relative;
    }

    img{
        /* opacity: 0.2; */
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
    }
   

}
